@import "imports/imports";

// variables

html {
	height: 100%;
	width: 100%;
}
a {
	&:hover {
		color: $basefont_color;
		text-decoration: none;
	}
	&:foucs {
		outline: none;
		text-decoration: none;
	}
	color: $basefont_color;
	text-decoration: none;
}
body {
	width: 100%;	/* fallback */
	background: $basebg;
	color: $basefont_color;
	font-size: $basefont_size;
}
section h3 {
	text-transform: uppercase;
}
.grad_bg {
	background-color: $top_gradient;
	background-repeat: repeat-x;  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, top, bottom, from($top_gradient), to($bottomg_radient));  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, $top_gradient, $bottomg_radient);  /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, $top_gradient, $bottomg_radient);  /* IE 10 */
	background: -ms-linear-gradient(top, $top_gradient, $bottomg_radient);  /* Opera 11.10+ */
	background: -o-linear-gradient(top, $top_gradient, $bottomg_radient);
	border: 1px solid $top_gradient;
	@include shadow;
	padding: 0px 15px;
}
.head {
	color: #fff;
	margin: 30px 0px;
}
// social_links
.social_links {
	text-align: right;

	ul {
		padding: 0px;
		margin: 0px;
		float: right;

		li {
			padding: 0px;
			margin: 0px;
			float: left;
			list-style: none;

			a {
				padding: 12.5px;
				display: block;
				color: #fff;
				margin: 0px 5px;
			}
		}
	}
}
.grids {
	div {
		p {
			background: $grid_bg;
			@include round_edge;
			word-wrap: break-word;
		}
	}
}
.head {
	h2 {
		color: text_contrast(#fff + 1, 5);
	}
}
.first {
	p {
		color: lightcolor(#000 + 1);
	}
}
.second {
	p {
		color: lcolor(#000 + 1);
	}
}
.tween_container {
	position: fixed;
	top: 50%;
	left: 50%;
}
.loader {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	position: absolute;
	top: 0;
	left: 0px;
}
.tween {
	width: 50px;
	height: 50px;
	border-top: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0px;
}
#timelinemax {
	overflow: hidden;
	color: #fff;
	width: 100%;
	letter-spacing: 1px;
}
.box1, .box2 {
	float: left;
	margin-right: 10px;
	width: percentage((160-10)*3/1920);
}
section .btn1{
	@include commonBtn(#000, #fff);
}
section .btn2{
	@include commonBtn(#ccc, #0ff);
	@include transform(scale(1.2));
}