/* Scss Document */

/*base css*/
$base-color: #666;
$background: #000;
$base-fontsize: 14px;
$line-height: 18px;
$border:1px solid;

body {
	color: $base-color;
	background: $background;
	font-size: $base-fontsize;
	line-height: $line-height;
	
}
.container {
	width: 100%;
}

/*nested css*/
nav {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		background: $background;
	}
	li {
		color: $base-color;
		background: $background;
		font-size: $base-fontsize;
		line-height: $line-height;
	}
	a {
		display: inline-block;
		padding: 6px 12px;
		color:$base-color;
	}
}

/*mixins in scss*/
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
.box {
	@include border-radius(10px);
}
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}
@mixin text($color:none) {
	font-size: $base-fontsize;
	color: $base-color;
	padding: 6px 12px;
	@include border-radius(15px);
}
@mixin btn($background:none) {
	font-size: $base-fontsize;
	color: $base-color;
	padding: 6px 12px;
	background: $background;
}

/*Extend/Inheritance*/
.message {
	@include text ($base-color);
}
.error_message {
	@extend .message;
	border-color: #000;
}

/*math operators*/
article[role="main"] {
	float: left;
	width: 600/960*100%;
	@include border-radius(20px);
}
aside[role="complimentary"] {
	float: right;
	width: 300/960*100%;
}

/*custom*/
.btn {
	@include btn($background);
}