/* Scss Document */
/*base css*/
body {
  color: #666;
  background: #000;
  font-size: 14px;
  line-height: 18px; }

.container {
  width: 100%; }

/*nested css*/
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
nav li {
  color: #666;
  background: #000;
  font-size: 14px;
  line-height: 18px; }
nav a {
  display: inline-block;
  padding: 6px 12px;
  color: #666; }

/*mixins in scss*/
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

/*Extend/Inheritance*/
.message, .error_message {
  font-size: 14px;
  color: #666;
  padding: 6px 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }

.error_message {
  border-color: #000; }

/*math operators*/
article[role="main"] {
  float: left;
  width: 62.5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

aside[role="complimentary"] {
  float: right;
  width: 31.25%; }

/*custom*/
.btn {
  font-size: 14px;
  color: #666;
  padding: 6px 12px;
  background: #000; }

/*# sourceMappingURL=style.css.map */
