//mixin
@mixin phne{
	@media only screen and(max-width: 480px){
		//@content in sass
		@content;
	}
}
//shapes with sass
.circle {
	@include circle(200px, $yellow);
	@include phne{
		@include circle(100px, $orange );
	}
}
.triangle {
	@include triangle(200px, bottom, $orange);
	display: block;
	@include phne{
		@include triangle(100px, bottom, $yellow);
	}
}
