// functions in scss
//functions
.new_bg {
	background: rgba(#fa7205, 0.8);
}
// in-built functions
.updated_bg {
	background: fade-out(#333, 0.5);
}
// percentage function
.wrapper {
	width: percentage(1004px / 1920px);
	margin: $margin_center;
}
// round function
.custom_width {
	width: round(percentage(1170px / 1920px));
	margin: $margin_center;
}
//custom function
@function text_contrast($bg, $value) {
	@return ($bg + $value);
}
//build in function
@function lightcolor($color) {
	@return lighten($color, 30%);
}
//if else
@function lcolor($color) {
	@if lightness($color) > 50% {
		@return lighten($color, 30%);
	}
	@else {
		@return darken($color, 90%);
	}
}