/*grids*/

.my-col1 {
	width: percentage(160px / 1920px);
	padding: 0px 15px;
}
.my-col2 {
	width: percentage((160px*2) / 1920px);
	padding: 0px 15px;
}
.my-col3 {
	width: percentage((160px*3) / 1920px);
	padding: 0px 15px;
}
.my-col4 {
	width: percentage((160px*4) / 1920px);
	padding: 0px 15px;
}
.my-col5 {
	width: percentage((160px*5) / 1920px);
	padding: 0px 15px;
}
.my-col6 {
	width: percentage((160px*6) / 1920px);
	padding: 0px 15px;
}
.my-col7 {
	width: percentage((160px*7) / 1920px);
	padding: 0px 15px;
}
.my-col8 {
	width: percentage((160px*8) / 1920px);
	padding: 0px 15px;
}
.my-col9 {
	width: percentage((160px*9) / 1920px);
	padding: 0px 15px;
}
.my-col10 {
	width: percentage((160px*10) / 1920px);
	padding: 0px 15px;
}
.my-col11 {
	width: percentage((160px*11) / 1920px);
	padding: 0px 15px;
}
.my-col12 {
	width: percentage((160px*12) / 1920px);
	padding: 0px 15px;
}