/*for loop*/
@for $i from 1 through 4 {
	.forloop-#{$i}{
		margin-right: 5% * $i;
		word-wrap: break-word;
		word-break: break-all
	}
}
// "$i" - stores the value.
// "from" - from where the loop starts.
// "through" - till when the loop will run.

/*while loop*/
$i:1;
@while $i < 10{
	.whileloop-#{$i}{
		margin-right: 2% * $i;
		word-wrap: break-word;
		word-break: break-all;
	}
	$i: $i + 1;
}

/*colomuns through loops*/
$col_count:1;
@while $col_count < 13{
	.col-#{$col_count}{
		width:percentage((160 * $col_count) / 1920);
	}
	$col_count: $col_count + 1;
}
