// mixin
@mixin shadow($shadow:0px 2px 5px 0px #000) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
}
@mixin commonBtn($bgcolor, $color){
	&:hover{
		background:$color;
		color:$bgcolor;
	}
	background:$bgcolor;
	font-size:15px;
	color:$color;
	padding:10px 30px;
}
@mixin round_edge($radius:10px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
}
@mixin transform($vaule) {
	transform: $vaule;
	-webkit-transform: $vaule;
	-moz-transform: $vaule;
	-o-transform: $vaule;
	-ms-transform: $vaule;
}
// circle
@mixin circle($width, $background) {
	height: $width;
	width: $width;
	background: $background;
	@include round_edge($width/2);
}
// if else condition
// triangle
@mixin triangle($width, $dir, $color) {
	@if $dir == top {
		width: 0px;
		height: 0px;
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
		border-bottom: $width/2 solid $color;
	}
	@else if $dir == bottom {
		width: 0px;
		height: 0px;
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
		border-top: $width/2 solid $color;
	}
	@else if $dir == right {
		width: 0px;
		height: 0px;
		border-top: $width/2 solid transparent;
		border-bottom: $width/2 solid transparent;
		border-left: $width/2 solid $color;
	}
	@else if $dir == left {
		width: 0px;
		height: 0px;
		border-top: $width/2 solid transparent;
		border-bottom: $width/2 solid transparent;
		border-right: $width/2 solid $color;
	}
}