/* placeholder */
%demoplaceholder{
	font-size: 15px;
	color:#000;
	display: block;
}
// "%demoplaceholder" - is a placeholer(mainly used to write common css).
.whileloop-1 span {
	@extend %demoplaceholder;
}
.whileloop-2 span {
	@extend %demoplaceholder;
	text-transform: capitalize;
	text-decoration: underline;
}