$basebg: #262626;
$basefont_size: 15px;
$basefont_color: #111;
$bottomg_radient: #024688;
$top_gradient: $bottomg_radient + 100;
$margin_center: 0 auto;
$orange: rgba(#fa7205, 0.8);
$yellow: rgba(#fab205, 0.5);
$grid_bg: rgba(#262626, 0.2);