 body {
 margin:0;
 padding:0;
 font-family: 'Open Sans', sans-serif;
 color:#666666;
  font-size:14px;
 }
h1,h2,h3,h4,h5,h6,p,ul,li,ol {
 padding:0px ;
 margin:0px;
 }
ul,li,ol {
 list-style-type:none;
 }
a, a:hover, a:focus,img {
 text-decoration:none;
 outline:none;
 }
 .clearfix {
	padding:0;
	margin:0;
	clear:both;
}
.pad0{
 padding:0px;
}
.container {
	max-width:940px;
	margin:0 auto;
	}
.transparent {
	background-color:transparent !important;
}

/*****home page css starts here*****************/
.navigation_section {
	background-color:#f69d00;
	  }
.search_box {
	float:right;
	border-left:1px solid #bf7b03;
	border-right:1px solid #bf7b03;
	padding:20px 16px; 
	 position: relative;
    z-index: 9;
}
.logo {
	padding:17px 0;
	float:left;
}
.logo img {
	width:100%;
	display:block;
}
.navigation_bar {
	background-color:#e39101;
	}
nav.transparent {
	border:0px;
}
.navbar-default ul.main_menu li a {
	font-size:14px;
	font-weight:600;
	color:#202020;
	text-transform:uppercase;
}
.navbar-default ul.main_menu > .active > a, .navbar-default ul.main_menu > .active > a:focus, .navbar-default ul.main_menu > .active > a:hover {
	background-color:transparent;
	border-bottom:5px solid #202020;
	color:#202020;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	}
.navbar-default ul.main_menu li a:hover {
	border-bottom:5px solid #202020;
}
button.generate_btn {
	background-color:#740002;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	border:0;
	vertical-align:bottom;
	padding:16px 14px;
	-webkit-box-shadow:-5px 0 3px 0 rgba(0, 0, 0, 0.34);
-moz-box-shadow:-5px 0 3px 0 rgba(0, 0, 0, 0.34);
box-shadow: -5px 0 3px 0 rgba(0, 0, 0, 0.34);
}
.float-rgt, .navbar-header2 {
	float:right;
}
.part1 {
	padding-bottom:30px;
	border-bottom:1px solid #d7d7d7;
}
.float-lft {
	float:left;
}
.mainsection {
	margin-top:57px;
}
.lft_section {
	background-color:#ededed;
	padding:20px 88px 42px 88px;
}
.lft_part {
	float:left;
	color:#000;
	font-size:14px;
	font-weight:600;
	width:76%;
}
.btm_section {
	margin-top:20px;
}
.rgt_part{
	float:right;
}
.envelop_img img, .download_img img {
	padding:12px 7px;
	background-color:#9b9b9b;
}
.download_img img {
	padding:10px 9px;
}
span.user {
	font-style:italic;
	font-weight:600;
	color:#333333;
	font-size:13px;
	margin-top:7px;
	display:block;
}
.left_part2 {
	font-weight:600px;
	font-size:13px;
	color:#666666;
	float:left;
}
.rgt_part2 {
	float:right;
}
.entertainment {
	margin-top:9px;
}
ul.social_media li {
	display:inline-block;
	color:#fff;
}
ul.social_media li a {
	color:#fff;
	padding:13px 34px;
	font-weight:600;
}
ul.social_media li a span {
	padding-right:9px;
}
ul.social_media li.fb  a {
	background-color:#5b80cf;
}
ul.social_media li.twit a  {
	background-color:#40bff5;
}
.pad-tp30-br0 {
	padding-top:30px;
	border-bottom:0px;
	padding-bottom:0px;
}
.rgt_section {
	background-color:#f5f5f5;
	padding:20px;
	float:right;
	width:27%;
}
h2.featured {
	font-size:18px;
	font-weight:600;
	color:#202020;
}
.part_1 {
	padding-top:20px;
}
p.watch {
	padding: 14px 0 5px;
	font-size:14px;
	color:#000;
	font-weight:600;
}
p.watch a {
	color:#750101;
	text-decoration:underline;
	font-style:italic;
}
p.entertain {
	font-size:12px;
	font-weight:bold;
	color:#666666;
}
.loader {
	text-align:center;
	font-size:16px;
	color:#740002;
	vertical-align:bottom;
	padding:28px 0;
}
.footer_section {
	background-color:#272727;
	padding-left:20px;
	padding-right:30px;
}
.links{
float:left;
}
.links img {
	margin-right:-5px;
}
.copyright {
	line-height:57px;
	color:#fff;
	font-size:11px;
}
.powered {
	float:right;
	line-height:57px;
	color:#fff;
	font-size:11px;
	
}
img.aurum_logo {
	padding-left:9px;vertical-align:text-bottom !important;
}

.search_box .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  color:#fff;
  margin-bottom:0px;
  background:url(../images/search_icon.png) no-repeat right;
  right:5px;
  font-weight:bold;
}
.search_box .form-group input.form-control {
 
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  color:#fff;
}
.search_box .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search_box .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search_box .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search_box .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search_box .form-group:hover,
.search_box .form-group.hover {
  width: 100%;
  background-color:#202020;
  color:#fff;
  font-size:11px;
  opacity:1;
}

.search_box .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
 color:#fff;
  left: initial;
  font-size: 14px;
}
.has-feedback span {
position: absolute;
right: 12px;
top: 7px;
opacity:0;	
color:#fff;
}
.has-feedback:hover span {
	opacity:1;
	color:#fff;
}
.search_box .form-group input.form-control::-webkit-input-placeholder {
    color:#fff;
}
.search_box .form-group input.form-control:-moz-placeholder {
    color:#fff;
}
.search_box .form-group input.form-control::-moz-placeholder {
    color:#fff;
}
.search_box .form-group input.form-control:-ms-input-placeholder {
    color:#fff;
}
/*****home page css ends here*****************/

/***********************Modal Popup********************/
.modal-dialog {
    margin: 130px auto;
    width: 861px;
	max-width:94%;
} 
.close {
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    opacity: 1;
    text-shadow:none;
}
button.close{
	 position: absolute;
    right: 0;
    top: -24px;
    z-index: 999;
}
.close:focus, .close:hover{
	color:#fff;
	opacity:1;
}
.modal-content{
	box-shadow:none;
	border:none;
	border-radius:1px;
}
.modal{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	padding-left:0px;
}
.modal-title{
	font-family: 'Open Sans';
	font-weight:600;
	color:#202020;
}
.modal-content{
	padding:25px;
	margin-bottom:20px;
}
.modal-header{
	margin-bottom:20px;
}
.modal-header, .modal-footer{
	border:none;
	padding:0px;
}
.modal-body{
	padding:0px;	
}
.imgcontainer{
	/*background:url(../images/Yellow_470x470.jpg) no-repeat;*/
	background-color:#f8ac00;
/*	width:510px;
	height:510px;
*/	border:20px solid #ededed;
	/*max-height: 100%;*/
    max-width: 100%;
	padding:20px;
}
.padleft{
	padding:0 0 0 25px;
}
.padright{
	padding:0 31px 0 0px;
}
.borderbtm{
	border-bottom:1px solid #c9c9c9;
	border-top:none;
	border-left:none;
	border-right:none;
	border-radius:0px;
	box-shadow:none;
	padding:6px 0;
	font-family: 'Open Sans';
	font-weight:600;
	font-size:14px;
	color:#666;
}
.border0{
	border:0px;
	box-shadow:none;
	padding:6px 0;
}
.form-control:focus{
	border-color:rgb(204, 204, 204);
	box-shadow:none;
}
.bgtext{
	float:left;
	font-weight:600;
	font-family: 'Open Sans';
}
.colorpick{
	float:right;
}
select.fb_select {
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/select_arrow.png") no-repeat scroll 100% 50% rgb(255, 255, 255);
    border-color: -moz-use-text-color -moz-use-text-color rgb(201, 201, 201);
    border-image: none;
    border-radius: 1px;
    border-style: none none solid;
    border-width: 0 0 1px;
    display: block;
    padding-right: 21px;
}
select.fb_select option{
	padding-left:0px;
}
.box{
	width:21px;
	height:21px;
	border:1px solid #000;
	background-color:#f6b001;
	float:left;
	margin-right:10px;
}
.pencil{
	float:left;
	color:#444;
	font-size:15px;
}
a.pencil:hover{
	color:#444;
}
.textarea{
	border-radius:0px;
	background-color:#ededed;
	font-weight:600;
	font-family: 'Open Sans';
}
.colorbox{
	padding:0 10px;
	background-color:#efefef;
	width:163px;
	border:1px solid #000;
	position:absolute;
	bottom:0px;
	right:23px;
	display:none;
}
.closebtn{
	/*display:block;*/
}
.colortab{
	/*display:block;*/
}
.imgcontainer img{
/*	width:100%;*/
	display:block;
}

.colortab ul li{
	width:21px;
	height:21px;
	border:1px solid #000;
	margin-right:9px;
	margin-bottom:10px;
	display:inline;
	float:left;
	cursor:pointer;
}
.blue{
	background-color:#0055e3;
}
.orange{
	background-color:#f75100;
}
.red{
background-color:#d10000;
}
.yellow{
background-color:#ffb200;
}
.green{
background-color:#3ac02c;
}
.lightblue{
background-color:#00c0e3;
}
.lightgreen{
background-color:#77d722;
}
.pink{
background-color:#ed3faa;
}
.brown{
background-color:#975c00;
}
.voilet{
background-color:#9600ff;
}
.background{
	position:relative;
}
.nomargin{
	margin-right:0px !important;
}
.socialtab{
/*	background-color:#000;*/
	margin-top:20px;
}
.socialicons{
	float:left;
	padding-top:12px;
}
ul.social_media1 li {
 display:inline-block;
 color:#fff;
}
ul.social_media1 li a {
 color:#fff;
 padding:13px 34px;
 font-weight:600;
}
ul.social_media1 li a span {
 padding-right:9px;
}
ul.social_media1 li.fb  a {
 background-color:#5b80cf;
}
ul.social_media1 li.twit a  {
 background-color:#40bff5;
}
.download1{
	float:right;
/*	padding-right:31px;*/
}
.title{
	border-bottom: 1px solid rgb(0, 0, 0);
    padding: 43px 0 10px;
/*    position: absolute;
    width: 100%;
    z-index: 999;
*/}
.float-left{
	float:left;
	box-shadow:none !important;
}
.form-control::-moz-placeholder {
    color: rgb(102, 102, 102);
    opacity: 1;
}
.gabbar img{	
	margin:10px auto;
	width:100%;
}


/*****media query css starts here*****************/
@media screen and (max-width:991px){
 .left{
		width:100%;
		float:left !important;
		margin-top:30px;
		display:block;
	}
}
@media screen and (min-width:768px) and (max-width:801px) {
		.copyright {
		line-height:15px;
		padding-top:15px;
	}
.lft_section {
padding-left: 26px;
    padding-right: 24px;	
}	

}
@media screen and (min-width:768px) and (max-width:991px){
	.navbar-default ul.main_menu > .active > a, .navbar-default ul.main_menu > .active > a:focus, .navbar-default ul.main_menu > .active > a:hover {
			padding-left: 0;
    padding-right: 0;
		}
		
		.navbar-default ul.main_menu li a {
    font-size: 10px;
    text-transform: uppercase;
}
}

@media screen and (min-width:320px) and (max-width:767px) {
	.navbar-header2 {
		float:left;
		width:100%;
	}
	.navbar-toggle {
		float:left;
	}
	button.navbar-toggle {
		margin-left:22px;
	}
	.navbar-collapse {
		position: relative;
    top: -3px;
    width: 82%;
	left:27px;
	box-shadow:none;
	border-top:0px;
	overflow:hidden;
	}
	.navbar-default ul.main_menu > .active > a, .navbar-default ul.main_menu > .active > a:focus, .navbar-default ul.main_menu > .active > a:hover {padding-left:19px;}
	.navbar-default .navbar-toggle .icon-bar,.navbar-toggle .icon-bar {
		background-color:#fff;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color:transparent;
	}
	.rgt_section {
		width:100%;
		text-align:center;
	}
	.rgt_section img {
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
	.lft_section {
		padding-left:20px;
		padding-right:20px;
	}
	.lft_part {
		width:63%;
	}
	ul.social_media li a {
		padding-left:29px;
		padding-right:29px;
	}
	.left_part2 {
		margin-bottom:20px;
	}
	.links, .powered {
		text-align:center;
	}
	.copyright {
		 line-height: 15px;
    padding-bottom: 15px;
    padding-top: 26px;
	}
	.logo img {
		padding:15px;
	}
	.search_box {
		padding-top:0px;
		margin-bottom:10px;
		border-left:0px;
		padding-bottom:10px;
		border-bottom:1px solid #bf7b03;
		width:100%;
}
.padright{
	 padding:0px;
 }
 ul.social_media1 li a {
  padding-left:29px;
  padding-right:29px;
 }
 .modal-content{
	  padding: 14px;
 }
.margintop20{
	margin-top:20px;
}
}